PORT=5000
SUPABASE_URL=https://xknlidaynaasmzkgtwcn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhrbmxpZGF5bmFhc216a2d0d2NuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU5NjAwMDgsImV4cCI6MjA3MTUzNjAwOH0.ffg2phOaO3uy_DJkLidVFfAORUs3ily4l4-IhIpduSg
DB_URL=postgresql://...
